@{
    ViewData["Title"] = "Student Enrollments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center"> Student Enrollments</h2>

    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Student</th>
                <th>Course</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="enrollmentsTableBody">
        </tbody>
    </table>

    <div class="alert alert-info mt-4 d-none text-center" id="averageBox">
         <strong>Average Grade:</strong> <span id="averageResult"></span>
    </div>
</div>

@section Scripts {
    <script src="~/js/enrollments.js"></script>
}
